main {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 40px;
    padding: 0 20px;
    height: 60px;
    background-color: #1c8ed0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    width: fit-content;
}

main input[type="text"] {
    font-size: 20px;
    padding: 0 15px;
    height: 40px;
    width: 550px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #000;
}

main textarea {
    font-size: 20px;
    padding: 0 15px;
    height: 150px;
    width: 550px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #000;
}

main input[type="datetime-local"] {
    font-size: 20px;
    padding: 0 15px;
    height: 40px;
    width: 240px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: #000;
}

main .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
    gap: 50px;
}

main input.button {
    font-size: 20px;
    padding: 0 15px;
    height: 40px;
    background-color: var(--c-a-links);
    border-radius: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    user-select: none;
    color: #fff;
}

main .options div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

main .options .button {
    margin-top: 15px;
}

main input.button:hover {
    background-color: var(--c-b-links);
}